.container {
  display: grid;
  margin: 8px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.icon {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 14px;
}

/* styles.module.css */

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #a78c84;
  padding-right: 20px;
}

.icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #a78c84;
  padding-left: 20px;
}

.div-order {
  display: flex;
  justify-content: center;
  align-items: center;
}
