.table-container {
  display: "flex";
  margin: "auto";
  padding: "20px";
  justify-content: "center";
  background: "#F2F2F2";
  flex-direction: "column";
}

.order-table {
  border: 1px solid red;
}

.order-table p {
  font-size: 12px;
  text-align: center;
}
