.button {
  padding: 15px 25px;
  color: #50895d;
  border-style: none;
  border: 0.5px solid #9fbafb;
  margin-top: 10px;
  border-radius: 0px 10px 10px 0px;
  font-size: 25px;
  font-weight: bold;
}
