.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 100%;
}
.section {
  border: 1px solid rgb(226, 201, 167);
  display: flex;
  padding: 4px 40px 4px 40px;
  align-items: center;
  border-radius: 12px;
}
