.glass {
  /* From https://css.glass */
  background: rgba(154, 154, 154, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
  border: 1px solid rgba(154, 154, 154, 0.35);
}

.table-container {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}
.table-section {
  background-color: palevioletred;
  display: flex;
  position: relative;
  margin: 0 auto;
}
.table-container-section-right {
  display: flex;
  flex-direction: column;
}
.table-container-section-left {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0px;
}

.table-style {
  text-decoration: none;
  color: black;
  border-style: none;
  background-color: var(--background, transparent);
  display: block;
}

.table-style p {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-top: 12px;
}
.table-frame-rounded {
  padding: 25px 50px 25px 50px;
  border-radius: 100px;
  margin: 10px;
  text-align: center;
  p {
    color: rgb(61, 61, 61);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: rgba(249, 249, 249, 0.067);
}

.popup {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(184, 184, 184, 0.2);
  text-align: center;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  font-weight: bold;
}
.button:focus {
  background-color: #fffdd0;
}

/* OrderTableCard */

.orderTableContainer {
  padding: 10px;
  justify-content: center;
  overflow: scroll;
  min-height: 100vh;
  .grid {
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: center;
    gap: 4px;
  }
  .section {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid rgba(235, 231, 175, 0.688);
    box-shadow: 0px 4px 8px 0px rgba(235, 231, 175, 0.417);
  }
  .div1 {
    display: flex;
    align-items: center;
  }
  .div3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* OrderTableCard */
