.glass {
  /* From https://css.glass */
  background: rgba(154, 154, 154, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
  border: 1px solid rgba(154, 154, 154, 0.35);
}

.table-container {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}
.table-section {
  background-color: palevioletred;
  display: flex;
  position: relative;
  margin: 0 auto;
}
.table-container-section-right {
  display: flex;
  flex-direction: column;
}
.table-container-section-left {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0px;
}

.table-style {
  text-decoration: none;
  color: black;
  border-style: none;
  background-color: var(--background, transparent);
  display: block;
}

.table-style p {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-top: 12px;
}
.table-frame-rounded {
  padding: 25px 50px 25px 50px;
  border-radius: 100px;
  margin: 10px;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  background-color: rgba(201, 197, 197, 0.341);
  backdrop-filter: saturate(180%) blur(3px);
}

/*  ConfirmTable >> popup */
.popup {
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: wheat;
  backdrop-filter: saturate(180%) blur(15px);
  position: absolute;

  h1 {
    text-align: center;
    padding-bottom: 10px;
  }
}

.input {
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: rgba(115, 116, 87, 0.412);
  flex: 1;
  color: rgb(255, 255, 255);
  padding: 12px;
  margin: 5px 20px 20px 20px;
  font-size: 24px;
}
.input::placeholder {
  color: rgba(245, 222, 179, 0.634);
}
.divInput {
  display: flex;
  flex-direction: column;

  p {
    display: block;
    margin-left: 20px;
    font-size: 20px;
  }
}
.divButton {
  justify-content: center;
  display: flex;
  .button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    font-size: 18px;
  }
  .button:active {
    background-color: #e5ba4f;
    color: white;
  }
}

/* FieldNameCard >> popup */
