.footer-style {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  bottom: 0;
  position: sticky;
}
.section {
  border: 1px solid #dfc184;
  border-radius: 12px 12px 0px 0px;
  background-color: rgb(255, 255, 255);
  display: flex;
  bottom: 0px;
  position: relative;
}

.ul li {
  display: flexbox;
  list-style: none;
  color: #dcb86b;
  display: block;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.link {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  color: #dcb86b;
  padding-left: 20px;
}

.MenuIconBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0px;
  bottom: -10px;
  right: 170px;
  .rows {
    display: flex;
    align-items: center;
  }
}

.menuDiv {
  display: flex;
  position: relative;
  right: 200px;
  .restaurantIcon {
    background: #cb1649;
    padding: 10px;
    border-radius: 100px;
    position: absolute;
  }
}

.cartDiv {
  display: flex;
  position: relative;
  right: 120px;

  .iconCart {
    background: #87c990;
    padding: 10px;
    border-radius: 100px;
    position: absolute;
  }
  .p {
    display: block;
    color: red;
    transform: translate(25px, 8px);
    position: absolute;
    font-weight: bolder;
    font-size: 22px;
  }
}
.cart-popup {
  overflow: scroll;
  height: 400px;
  position: fixed;
  top: 180px;
  /* From https://css.glass */
  background: rgba(205, 243, 202, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(219, 249, 255, 0.3);
}

.buttonDiv {
  background-color: white;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  .button {
    outline: none;
    border: none;
    padding: 8px;
    &:hover {
      background-color: #87c990;
      color: white;
    }
  }
}
