.footer-style {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  margin-top: 100px;
}
.section {
  border: 1px solid #dfc184;
  border-radius: 12px 12px 0px 0px;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: fixed;
  bottom: 0;
}

.ul li {
  display: flexbox;
  list-style: none;
  color: #dcb86b;
  display: block;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.link {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  color: #dcb86b;
  padding-left: 20px;
}
