* {
  margin: 0;
  padding: 0;
  user-select: none;
}

/*mobile responsive */
@media screen and (max-width: 600px) {
  .footer-mobile {
    display: grid;
    width: 100%;
    background-color: bisque;
    padding: 0px;
    margin: 0px;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .ProductCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .ProductCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 10px;
  }
}
